{% extends 'users/base.html' %}

{% block main %}
    <form class="profileBlock" action="{% url 'usersSpace:mainpage' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="imgProfileBlock">
            <img class="ImgProfile" src="{% if request.user.image %} {{ request.user.image.url }} {% endif %}" alt="icon" title="{{ profile.username }}">
            <div class="profileChangeBlock">
                <div class="profileBlock">
                    <label for="first_name">Имя</label>
                    <div>{{ form.first_name }}</div>
                </div>
                <div class="profileBlock">
                    <label for="last_name">Фамилия</label>
                    <div>{{ form.last_name }}</div>
                </div>
                <div class="profileBlock">
                     <label for="username">Логин</label>
                     <div>{{ form.username }}</div>
                </div>
                <div class="profileBlock">
                     <label for="email">Почта</label>
                     <div>{{ form.email }}</div>
                </div>
                <div class="profileBlock">
                     <label for="image">Поменять аватарку</label>
                     <div>{{ form.image }}</div>
                </div>
            </div>
        </div>
        <button type="submit">Изменить профиль</button>

    </form>
{% endblock main %}