* {
    margin:0 auto;
    padding: 0 auto;
    font-family:sans-serif;
}
a{
    text-decoration:none;
    color:black;
    font-weight:600;
}
body {
    padding-left:150px;
    padding-right:150px;
    padding-top:10px;
    background:#F6F2F2;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "BlogLogo ProfileNavigation";
    background:#F24E4E;
}
.BlogTodayLogo {grid-area:BlogLogo}
.ProfileNavigation {
    grid-area:ProfileNavigation;
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "ProfileAlert ProfileOpen";
}
.ProfileAlert{
    grid-area:ProfileAlert;
    text-align:center;
    margin: auto 0;
}
.ProfileOpen{
    grid-area:ProfileOpen;
    text-align:center;
    margin: auto 0;
}
.ProfileOpen a{
    text-decoration:none;
    margin-left:25px;
}
.MainContent {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
    'AsideBlock ContentBlock'
}
.AsideBlock {
    grid-area:AsideBlock;
    text-align:left;
    width:100%;
    background:#B56CBD;
}
.AsideBlock div {
    margin:25px;
    width:100%;

}
.ContentBlock{
    grid-area:ContentBlock;
    width:100%;
    text-align:center;
    margin: auto auto;
}
.imgProfileBlock {
    margin: auto 0;
    text-align:center;

}
.ImgProfile {
    width:100px;
    height:100px;
    border-radius:20px;
}
h1 a {
    text-decoration:none;
    color:black;
}
.formReg {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    'leftRegForm rightRegForm';
    height:100%;
}

.regButton {

}
.leftRegForm {
    grid-area:leftRegForm;
    height:100%;
}
.rightRegForm {
    grid-area:rightRegForm;
}

.formReg div div div {
    margin:20px;
}
.profileBlock {
    margin:20px auto;
}